*{
    font-family: poppins;
    padding: 0;
    margin: 0;
}

.gradient-custom {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    /* margin: 0px; */
    padding: 0px;
    background: url("/asset/img/logobg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.submit a{
    text-decoration: none;
    color: white;
}


/* html{
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
    background-color: aquamarine;
    background-image: url(/asset/img/logobg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: poppins;
}

.main{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-form{
    height: 100%;
    display: flex;
    padding-top: 250px;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    padding: 40px;
}

form input{
    padding: 5px 80px 5px 0px;

}

form button{
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: blue;

}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */