 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolith Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/Dashboard.css">
 </head>
 <body>
      
      <div class="container">
         <!-- sidebar -->
         <div class="sidebar">
            <div class="header">
               <div class="list-item">
                  <a href="/home">
                     <img src="/asset/img/logo 1.png" alt="" class="icon">
                     <span class="description-header">DASHBOARD</span>
                  </a>
               </div>
            </div>
           
            <div class="main">
               <div class="list-item">
                  <a href="#">
                     <img src="/asset/img/home-2-svgrepo-com.svg" alt="" class="icon">
                     <span class="description">Activity</span>
                  </a>
               </div>

               <div class="logout">
                  <a href="/auth/login">
                     <img src="/asset/img/sign-out.svg" alt="" class="icon">
                     <span class="description">Sign Out</span>
                  </a>
               </div>
            </div>
         </div>
         <!-- end sidebar -->
         
         <section class="main-section">
            <div class="main-screen">
               <div class="title-text">
                  <h1>Table User</h1>
               </div>
               <div  class="btn-add">
                  <button>
                     <a href="/userAdd">Add User</a>
                  </button>
               </div>
               <div class="table">
                  <table class="table">
                     <thead class="thead-dark head-table">
                       <tr>
                         <th scope="col">#</th>
                         <th scope="col">First</th>
                         <th scope="col">Last</th>
                         <th scope="col">Handle</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <th scope="row">1</th>
                         <td>Mark</td>
                         <td>Otto</td>
                         <td>@mdo</td>
                       </tr>
                       <tr>
                         <th scope="row">2</th>
                         <td>Jacob</td>
                         <td>Thornton</td>
                         <td>@fat</td>
                       </tr>
                       <tr>
                         <th scope="row">3</th>
                         <td>Larry</td>
                         <td>the Bird</td>
                         <td>@twitter</td>
                       </tr>
                     </tbody>
                   </table>
               </div>
            </div>
              
            
         </section>  

      </div>
   <script src="/asset/dashboard.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>