 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/register.css">
 </head>
 <body>
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-0 mt-md-0 pb-1">
  
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
               
                <form action="/auth/register" method="post">
                  
                  <div class="form-outline form-white mb-4">
                     <input type="text" id="name" name="name" class="form-control form-control-lg" />
                     <label class="form-label" for="typeEmailX">Your Name</label>
                   </div>
                  
                  <div class="form-outline form-white mb-4">
                     <input type="age" id="age" name="age" class="form-control form-control-lg" />
                     <label class="form-label" for="typeEmailX">Your Age</label>
                   </div>
                  
                  <div class="form-outline form-white mb-4">
                     <input type="gender" id="gender" name="gender" class="form-control form-control-lg" />
                     <label class="form-label" for="typeEmailX">Gender</label>
                   </div>

                   <div class="form-outline form-white mb-4">
                     <input type="email" id="email" name="email" class="form-control form-control-lg" />
                     <label class="form-label" for="typeEmailX">Your Email</label>
                   </div>
     
                   <div class="form-outline form-white mb-4">
                     <input type="password" id="password" name="password" class="form-control form-control-lg" />
                     <label class="form-label" for="typePasswordX">Password</label>
                   </div>
     
                   <button class="submit btn btn-outline-warning btn-lg px-5" type="submit">
                      <a href="/auth/login">Submit</a>
                   </button>
                </form>
                
              </div>

  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>
