 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolith Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/userAdd.css">
 </head>
 <body>
      
      <div class="container">
         <!-- sidebar -->
         <div class="sidebar">
            <div class="header">
               <div class="list-item">
                  <a href="/home">
                     <img src="/asset/img/logo 1.png" alt="" class="icon">
                     <span class="description-header">DASHBOARD</span>
                  </a>
               </div>
            </div>
           
            <div class="main">
               <div class="list-item">
                  <a href="#">
                     <img src="/asset/img/home-2-svgrepo-com.svg" alt="" class="icon">
                     <span class="description">Activity</span>
                  </a>
               </div>

               <div class="logout">
                  <a href="/auth/login">
                     <img src="/asset/img/sign-out.svg" alt="" class="icon">
                     <span class="description">Sign Out</span>
                  </a>
               </div>
            </div>
         </div>
         <!-- end sidebar -->
         
         <section class="main-section">
            <div class="main-screen">
               <div class="back">
                  <a href="/dashboard">
                     <img src="/asset/img/1x/Back.png" alt="">
                     <h2>Back</h2>
                  </a>
               </div>
               <div class="label-fill">
                  <div class="title-text">
                     <h1>Edit User</h1>
                  </div>
                  <form action="/userAdd" method="post">

                     <div class="form-outline form-white">
                        <label class="name" for="name">Your Name</label>
                        <input type="text" id="name" name="name" class="form-control" />
                     </div>
                     
                     <div class="form-outline form-white">
                        <label class="age" for="typeEmailX">Age</label>
                        <input type="age" id="age" name="age" class="form-control" />
                     </div>
                     
                     <div class="form-outline form-white">
                        <label class="gender" for="typeEmailX">Gender</label>
                        <input type="gender" id="gender" name="gender" class="form-control" />
                     </div>
                     
                     <div class="form-outline form-white">
                        <label class="email" for="typeEmailX">Your Email</label>
                        <input type="email" id="email" name="email" class="form-control" />
                     </div>
                     
                     <div class="form-outline form-white">
                        <label class="password" for="typeEmailX">Your Password</label>
                        <input type="password" id="password" name="password" class="form-control" />
                     </div>

                     <button class="submit btn btn-outline-warning btn-lg px-3 py-1" type="submit" method="post">
                        <a href="/dashboard">Submit</a>
                     </button>

                  </form>
               </div>
               
            </div>
              
            
         </section>  

      </div>
   <script src="/asset/dashboard.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>